# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter Specific Files and Directories
.metadata
build/
.packages
pubspec.lock

# Android Specific Files and Directories
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/caches/
android/.idea/libraries/
android/.idea/modules.xml
android/.idea/workspace.xml
android/app/src/test/java/
android/app/src/androidTest/java/

# iOS Specific Files and Directories
ios/Pods/
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/App.framework/flutter_assets/
ios/DerivedData/

# macOS Specific Files and Directories
macos/Pods/
macos/.symlinks/
macos/build/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/
macos/DerivedData/

# Web Specific Files and Directories
build/web/

# Windows Specific Files and Directories
build/windows/

# Linux Specific Files and Directories
build/linux/

# General Files and Directories
*.xcworkspace/
*.DS_Store
*.swo
.env # if you use .env files
.vscode/settings.json #If you don't want to share vscode settings.

# Files generated by IDEs specifically
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/shelf/
.idea/compiler.xml

# Files containing sensitive data
*.keystore
*.p12
*.pem
*.jks